.div-tabela {
  display: flex;
  padding-bottom: 0.5rem;
  overflow-y: auto;
}
.div-tabela .table {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.coluna-acoes {
  width: 60px;
}
.titulo-pagina {
  margin-bottom: 0.3rem;
}
.titulo-pagina > .titulo {
  margin-right: 0.8rem;
}
.titulo-andamentos {
  margin-bottom: 0 !important;
}
.complementos {
  min-width: 200px;
}
.codigo {
  min-width: none;
}
