.cabecalho {
  background-color: #b84949;
  height: 72px;
}
.logo {
  width: 100%;
}
.logo img {
  margin: auto;
  width: 160px;
}
.botao-cabecalho {
  padding: 0.1em 0.25em 0.05em 0.25em;
  max-width: 60px;
  width: 100%;
}
.botao-cabecalho button {
  margin: auto;
}
@media (min-width: 350px) {
  .logo img {
    width: 200px;
  }
}
/* DROPDOWN */
/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  position: relative;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 60px;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5);
  border: solid 1px #c4c4c4;
  border-radius: 5px;
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  font-weight: 600;
  display: block;
  border-bottom: solid 1px #c4c4c4;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}
.dropdown-content a:first-child {
  border-radius: 5px;
}
.dropdown-content a:last-child {
  border-bottom: none;
  box-shadow: none;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f3dddd;
  border-bottom: solid 3px #b84949;
}
/* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown-content {display: block;} */
