<header class="cabecalho ff-segoe-ui flex-center">
  <div class="botao-cabecalho flex-center">
    <button onClick="history.go(-1)" title="Voltar" id="btnVoltar" class="btn btn-lg">
      <img src="../../../../assets/img/arrow-left-icon.png">
    </button>
  </div>
  <div class="botao-cabecalho flex-center">
    <button routerLink="home" title="Home" id="btnHome" class="btn btn-lg">
      <img src="../../../../assets/img/home-icon.png">
    </button>
  </div>
  <div class="logo link flex-center"> <!-- routerLink="home"> -->
    <!-- <img src="../../../assets/img/home.png" alt="Logo da aplicação Datajud Client" title="Home"> -->
  </div>
  <div class="botao-cabecalho flex-center">
    <div class="dropdown">
      <button (click)="clickMenu()" title="Menu" id="btnMenu" class="btn btn-lg">
        <img src="../../../../assets/img/menu-icon.png">
      </button>
      <div id="dropdown-content" class="dropdown-content">
        <a routerLink="home">Home</a>
        <a routerLink="processos">Processos</a>
        <a routerLink="tribunais">Tribunais</a>
      </div>
    </div>
  </div>
</header>
