<div class="container main">
  <div class="titulo-pagina ff-segoe-ui">
    <h1>Processos</h1>
  </div>
  <div class="menu-painel conteudo-pagina">
    <div class="row">
      <div class="col col-flexible">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar" name="Busca" id="txtBusca" (keydown.enter)="buscarProcessos()" (keydown.return)="buscarProcessos()">
          <span>
            <button title="Buscar" id="btnBuscar" class="btn" (click)="buscarProcessos()">
              <img src="../../../../assets/img/lupa-icon.png">
            </button>
          </span>
        </div>
      </div>
      <div class="col col-flexible">
        <button title="Novo Processo" id="btnNovoProcesso" class="btn" (click)="exibirModalFormulario(false)">
          <img src="../../../../assets/img/plus-icon.png">
        </button>
      </div>
      <div class="col col-flexible">
        <button title="Atualizar todos os processos" id="btnAtualizarTodosProcessos" class="btn" (click)="atualizarTodosProcessos()">
          <img src="../../../../assets/img/atualizar-icon.png">
        </button>
      </div>
    </div>
  </div>
  <div class="conteudo-pagina div-tabela">
    <table class="table ff-segoe-ui">
      <thead>
        <tr>
          <th (click)="ordenarProcessos('Acoes')" id="thAcoes" class="campo-ordenacao">
            <div class="titulo-tabela">
              <span class="nome-campo">Ações</span>
              <span class="img-ordenacao" id="imgAcoes"></span>
            </div>
          </th>
          <th (click)="ordenarProcessos('NumeroProcesso')" id="thNumeroProcesso" class="campo-ordenacao">
            <div class="titulo-tabela">
              <span class="nome-campo">Num. do processo</span>
              <span class="img-ordenacao" id="imgNumeroProcesso"></span>
            </div>
          </th>
          <th (click)="ordenarProcessos('NomeCaso')" id="thNomeCaso" class="campo-ordenacao">
            <div class="titulo-tabela">
              <span class="nome-campo">Nome do caso</span>
              <span class="img-ordenacao" id="imgNomeCaso"></span>
            </div>
          </th>
          <th (click)="ordenarProcessos('Tribunal')" id="thTribunal" class="campo-ordenacao">
            <div class="titulo-tabela">
              <span class="nome-campo">Tribunal</span>
              <span class="img-ordenacao" id="imgTribunal"></span>
            </div>
          </th>
          <th (click)="ordenarProcessos('UltimoAndamento')" id="thUltimoAndamento" class="campo-ordenacao">
            <div class="titulo-tabela">
              <span class="nome-campo">Último andamento</span>
              <span class="img-ordenacao" id="imgUltimoAndamento"></span>
            </div>
          </th>
          <th (click)="ordenarProcessos('UltimaAtualizacao')" id="thUltimaAtualizacao" class="campo-ordenacao">
            <div class="titulo-tabela">
              <span class="nome-campo">Última atualização</span>
              <span class="img-ordenacao" id="imgUltimaAtualizacao"></span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        @for(processo of DadosPaginados.Itens; track processo.id) {
          <tr>
            <td>
              <div class="acoes">
                <button title="Editar" id="btnEditar" class="btn" (click)="exibirModalFormulario(true, processo)">
                  <img src="../../../../assets/img/pencil-icon.png">
                </button>
                <button title="Atualizar" id="btnAtualizarProcesso" class="btn" (click)="atualizarProcesso(processo)">
                  <img src="../../../../assets/img/atualizar-icon.png">
                </button>
                <button title="Detalhes" id="btnDetalhesProcesso" class="btn" routerLink="detalhes-processo/{{processo.id}}">
                  <img src="../../../../assets/img/detalhes-icon.png">
                </button>
                <button title="Excluir" id="btnExcluir" class="btn" (click)="exibirModalExcluir(processo)">
                  <img src="../../../../assets/img/lixeira-icon.png">
                </button>
              </div>
            </td>
            <td>{{processo.numeroProcesso}}</td>
            <td>{{processo.nomeCaso}}</td>
            <td>{{processo.tribunal.sigla}} - {{processo.tribunal.nome}}</td>
            <td>{{processo.ultimoAndamento}} - {{processo.ultimoAndamentoDescricao}}</td>
            <td>{{processo.ultimaAtualizacao}}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <app-paginador [DadosPaginador]="DadosPaginador" (messageEvent)="receiveMessageDadosPaginador($event)"></app-paginador>
</div>
<app-modal-excluir [DadosModalExcluir]="DadosModalExcluir" (ExcluirRegistro)="receiveMessageExcluir($event)"></app-modal-excluir>
<app-modal-formulario-processo [(Processo)]="ProcessoAcao" [Edicao]="AcaoEditar" (EventoEdicao)="receiveMessageFormulario($event)"></app-modal-formulario-processo>
